FOR DEMO PURPOSE
* ==========================================
*
*/
body {
    background: linear-gradient(to left, #51cc48, #39df9c);
    min-height: 100vh;
}

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}